<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'style_telas.css' %}" rel="stylesheet">
</head>

<body>
    <!--Tela Principal de Clientes (LISTA CLIENTES)-->

    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="{% static 'logo.png'%}" alt="">
            </div>
            <ul class="nav">
                <li><a href="">HOME</a></li>
                <li><a href="{% url 'url_reservas' %}">Reservas</a></li>
                <li><a href="{% url 'url_clientes' %}">Clientes</a></li>
                <li><a href="{% url 'url_filmes' %}">Filmes</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
    </header>

    <ul id="tabela">
    {%for Cliente in Clientes%}
    <table>
        <thead>
            <tr>
               <th id="titulo"> NOME : <th>{{Cliente}}</th> </th>
               <th id="titulo"> IDADE : <th>{{Cliente.idade}}</th></th>
               <th id="titulo"> TELEFONE : <th>{{Cliente.telefone}}</th></th>
               <th id="titulo"> ENDEREÇO : <th>{{Cliente.rua}}, {{Cliente.bairro}}-{{Cliente.num_casa}}</th></th>
                <th id="botao"><a href="{% url 'url_update_cliente' Cliente.id%}"> Editar Cliente </a></th>
                <th id="botao"><a href="{% url 'url_delete_cliente' Cliente.id%}">Deletar Cliente</a></th>
            </tr>
        </thead>   
    </table>   
    {% endfor %}
    <button>
        <a href="{% url 'url_create_cliente' %}">Adicionar Cliente</a>
    </button>
    </ul>
</body>
</html>


