<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'style_telas.css' %}" rel="stylesheet">
</head>

<body>
    <!--Tela Principal de Clientes (LISTA CLIENTES)-->

    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="{% static 'logo.png'%}" alt="">
            </div>
            <ul class="nav">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'url_reservas' %}">Reservas</a></li>
                <li><a href="{% url 'url_clientes' %}">Clientes</a></li>
                <li><a href="{% url 'url_filmes' %}">Filmes</a></li>
                <li><a href="{% url 'listagem' %}">Listagem Filmes</a></li>
                <li><a href="{% url 'consulta' %}">Busca</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
    </header>
    
    
    <ul id="tabela"> 
    {%for Filme in Filmes%}
   <table>
        <thead>
            <tr>
               <th id="titulo"> FILME : <th>{{Filme}}</th> </th>
               <th id="titulo"> AUTOR : <th>{{Filme.autor}}</th></th>
               <th id="titulo"> DURAÇÃO : <th>{{Filme.duracao}}</th></th>
               <th id="titulo"> GÊNERO : <th>{{Filme.genero}}</th></th>
               <th id="titulo"> DATA : <th>{{Filme.data_criacao}}</th></th>
                <th id="botao"><a href="{% url 'url_update_filme' Filme.id%}"> Editar Filme </a></th>
                <th id="botao"><a href="{% url 'url_delete_filme' Filme.id%}">Deletar Filme</a></th>
            </tr>
        </thead>   
    </table> 

  

    {% endfor %}
    
    <button>
            <a href="{% url 'url_create_filme' %}">Adicionar Filme</a>
        </button>
    
    </ul>

</body>
</html>