<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>TELAS CLIENTES</h1>
    <!--Tela Principal de Clientes (LISTA CLIENTES)-->
    <ul>
    {%for Cliente in Clientes%}
       <li> {{Cliente}} - {{Cliente.idade}} - {{Cliente.telefone}} - {{Cliente.rua}}, {{Cliente.bairro}}-{{Cliente.num_casa}}
        <a href="{% url 'url_update_cliente' Cliente.id%}"> Editar Perfil </a>
        <a href="{% url 'url_delete_cliente' Cliente.id%}"> Remover Cliente </a>
       </li> 
    {% endfor %}
       <a href="{% url 'url_create_cliente' %}">Adicionar Cliente</a>
    </ul>
</body>
</html>