*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

.wrapper {
    width: 1170px;
    margin: auto;
    background-color: black;
}


button{
    margin-top: 3%;
    width: 200px;
    height: 50px;
    background-color: #831010;
    
    color: white;
    border-radius: 7px;   
}
input{
    width: 200px;
    height: 50px;
}