*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

.wrapper {
    width: 1170px;
    margin: auto;
    background-color: black;
}

header {   
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    
}

.nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav li {
    display: inline-block;
}

.nav li a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.nav li a::before {    
    content: '';
    position: absolute;        
    background: #831010;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
}

.nav li a:hover::before {
    width: 100%;  
}

.nav li a:hover {
    color: white;
}


.logo img {
    
    position: absolute;
    width: 200px;
    height: 90px;
    margin: 0.1% -5%;
}


#tabela{
    top: 25%;
    position:absolute;
    margin-left: 15%;
}

table{
    
    table-layout: fixed;
    text-align: center;
    width: 90%;

}

	
table thead tr{ 
	background-color: #831010;
	color:white;
}
			

table thead tr th {		
	padding: 3px 8px;
	border-bottom:2px solid black;
	border-right: 1px solid black;
}


#botao{
    background-color: gray;
}


#titulo{
    background-color: #333;
}

button{
    margin-top: 5%;
    width: 200px;
    height: 50px;
    background-color: #333;
    margin-left: 35%;
    color: white;
    border-radius: 7px;   
}

a{
    text-decoration: none;
    color: white;
}

	