*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1170px;
    margin: auto;
    background-color: black;
}

body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

header {   
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    
}

.nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav li {
    display: inline-block;
}

.nav li a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.nav li a::before {    
    content: '';
    position: absolute;        
    background: #831010;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
}

.nav li a:hover::before {
    width: 100%;  
}

.nav li a:hover {
    color: white;
}




.logo img {
    
    position: absolute;
    width: 200px;
    height: 90px;
    margin: 0.1% -5%;
}

.welcome {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.welcome h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 60px;
}

.welcome a {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
    position: relative;
}

.welcome a:hover {
    color: rgb(255, 255, 255);

}

.welcome a::before {    
    content: '';
    position: absolute;        
    background: #831010;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
}

.welcome a:hover::before {
    width: 100%;  
}