*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

.wrapper {
    width: 1170px;
    margin: auto;
    background-color: black;
}

header {   
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    
}

.nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav li {
    display: inline-block;
}

.nav li a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.nav li a::before {    
    content: '';
    position: absolute;        
    background: #831010;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
}

.nav li a:hover::before {
    width: 100%;  
}

.nav li a:hover {
    color: white;
}


.logo img {
    
    position: absolute;
    width: 200px;
    height: 90px;
    margin: 0.1% -5%;
}


form{
    margin-left: 40%;
    top: 25%;
    color: white;
    background-color: #333;
    position: absolute;
    border: 3px solid black;
	border-radius: 10px;
    width: 350px;
    height: 380px;
    text-align: left;
}

select{
    width: 170px;
    height: 30px;
    margin-top: 6%;
    background-color: rgb(181, 179, 179);
}

label{
    font-size: 20px;
    margin-left: 10%;
}

input{
    width: 170px;
    height: 20px;
    margin-top: 6%;
    background-color: rgb(181, 179, 179);
}

textarea{
    width: 170px;
    height: 20px;
    margin-top: 6%;
    background-color: rgb(181, 179, 179);
}



button{
    margin-top: 10%;
    margin-left: 38%;
    background-color: #831010;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}

