<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'form_reserva.css' %}" rel="stylesheet">
</head>
<header>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'logo.png'%}" alt="">
        </div>
        <ul class="nav">
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'url_reservas' %}">Reservas</a></li>
            <li><a href="{% url 'url_clientes' %}">Clientes</a></li>
            <li><a href="{% url 'url_filmes' %}">Filmes</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </div>
</header>
<body>
    <form method="POST" >
        {% csrf_token %}

        {{ FormReserva.as_p }}

        <button type="submit">Salvar</button>                      
    </form>
    
</body>
</html>